@model FinalProject___Nicolas.Models.Produto;

@{
    ViewData["Title"] = "Editando Produto";
    string checando = Model.Disponivel ? "checked" : "";
}

<h1>Editando Produto</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group">
                <label asp-for="ProdutoNome" class="control-label"></label>
                <input asp-for="ProdutoNome" class="form-control" />
                <span asp-validation-for="ProdutoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoPreco" class="control-label"></label>
                <input asp-for="ProdutoPreco" class="form-control" />
                <span asp-validation-for="ProdutoPreco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estoque" class="control-label"></label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PrecoDesconto" class="control-label"></label>
                <input asp-for="PrecoDesconto" class="form-control" />
                <span asp-validation-for="PrecoDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaProdutoId" class="control-label"></label>
                <select asp-for="CategoriaProdutoId" class="form-control" asp-items="ViewBag.CategoriaProdutoId"></select>
                <span asp-validation-for="CategoriaProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>